
zuul:
  prefix: /api
  ignored-services: '*' # 排除所有基于Eureka服务ID的路由的注册
  routes:
    customer:
      path: '/customer/**'
      service-id: customer
      url: http://customer:8080
  host:
    connect-timeout-millis: 10000
    socket-timeout-millis: 60000

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 60000

ribbon:
  ReadTimeout: 5000

eureka:
  client:
    serviceURL:
      defaultZone: http://service-registry:8080/eureka/
    fetch-registry: true
  instance:
    prefer-ip-address: true



server:
  port: ${ZUUL_PORT:8080}

logging:
  level:
    com.example.store: DEBUG


